.topNav{
    box-sizing: border-box;   
    padding: 0; 
}
.TopNavButton{
    width: 50%;
    box-sizing: border-box;
    padding: 15px 0;
    border: 1px solid rgb(235,235,235);
}

/* All PRoducts */

.filterBox{
    width: 300px;
    height: 70vh;
    background-color: #fff;
}
.AllproductBox{
    height: 100vh;

    width: 70%;
    overflow: scroll;
}

.productBox{
    background-color: #fff;
    padding: 10px 25px;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 10px;


}
.productRemoveButton{
    font-size: 25px;
    background-color: red;
    color: #fff;
    padding: 7px 14px;
    border-radius: 7px;
}

.productRemoveButton:hover{
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
}
.productRemoveButton:active{
    background-color: rgb(250, 173, 173);
    color: red;
}

/* Addproducts */

.form{
    padding: 25px 35px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgb(225,225,225);
    width: 95%;
    border-radius: 25px;
    margin: 50px auto;
}

.sectionA{

}

.sectionA1{
    width: 50%;
    padding: 15px 30px;
}

.sectionA1 input{
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: 1px solid rgb(180, 180, 180);
    margin-bottom: 15px;
    padding: 7px 14px;
    border-radius: 7px;
}

.sectionAA1{
    margin: 20px auto 0;
    align-items: center;
    justify-content: space-between;
}
.sectionAA1 label{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.sectionAA1 label input{
    width: 80%;
    margin-right: 20px;
}

.sectionA2{
    width: 25%;
    padding: 15px 30px;
    height: 250px;
    overflow: scroll;
}

.sectionA2 input{
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: 1px solid rgb(180, 180, 180);
    margin-bottom: 15px;
    padding: 7px 14px;
    border-radius: 7px;
    
}
.previewBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    height: 150px;
}
.previewBox button{
    border-radius: 7px;
    padding: 7px 14px;
    background-color: rgb(201, 201, 201);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.356);
}
.previewBox button:hover{
    background-color: rgb(233, 233, 233);
}
.previewBox button:active{
    background-color: rgb(0, 0, 0);
    color: #fff;
}
.sectionA2 {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.sectionA2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.subButton{
    border-radius: 7px;
    padding: 7px 14px;
    width: 150px;
    background-color: rgb(247, 170, 4);
    margin: auto;
}
.subButton:hover{
    background-color: rgb(248, 200, 95);
}
.subButton:active{
    background-color: rgb(153, 105, 0);
    color: #fff;
}

.subButton:disabled{
    background-color: rgb(199, 199, 199);
    color: rgb(0, 0, 0);
}