.modal{
    position: fixed;
    z-index: 11;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.336);
}
.body{
    background-color: rgb(250,250,250);
    width: 40%;
    height: 80vh;
    margin: 10vh auto;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 25px;
}

.modalHead{
    font-size: 25px;
    font-weight: 800;
    margin: 7px 14px;
}