@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.cart{
    padding: 20px;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    font-size: 15px;
}
.cart *{
    font-family: 'Montserrat',sans-serif;
    
}
.heading{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.cart .link a{
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid black;
    font-weight: 700;
}
.cart .link a:hover{
    text-decoration: none;
}
.payment{
    padding: 20px 25px;
    border-bottom: 6px solid rgb(228, 228, 228);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.payment .paypalBox{
    background-color: #ffc439;
    padding: 15px 25px;
    justify-content: space-around;
    align-items: center;
    margin: auto 25px;
}
.payment .paypalBox img{
    width: 40%;
}
.payment .paypalBox p{
    font-size: 14px;
}

.payment .proceedToOrder{
    background-color: #000;
    color: #fff;
    padding: 15px 35px;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}
.payment .proceedToOrder:hover{
    color: grey;
}
.payment .proceedToOrder p{
    font-size: 14px;
}

.payment .proceedToOrder .icon{
    font-size: 25px;
    margin-left: 20px;
}
.cartCountbutton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    margin: auto -5px;
    position: relative;
    z-index: 5;
}
.cartCountbutton:active{
    background: rgb(95, 95, 95);
}
.cartCount{
    padding: 5px 25px;
    background-color: rgb(225,225,225);
    z-index: 1;
}