@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.cart{
    padding: 20px;
    box-sizing: border-box;
    width: 70%;
    margin: auto;
    font-size: 15px;
}
.cart h1, .cart h2, .cart h3, .cart h4, .cart p{
    font-family: 'Montserrat',sans-serif;
    
}
.heading{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat',sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.cart .link a{
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px solid black;
    font-weight: 700;
}
.cart .link a:hover{
    text-decoration: none;
}
.nav{
    padding: 20px 25px;
    border-bottom: 6px solid rgb(228, 228, 228);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.nav .proceedToOrder{
    background-color: #000;
    color: #fff;
    padding: 15px 35px;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.nav .proceedToOrder:hover{
    color: rgb(199, 198, 198);
}
.nav .proceedToOrder p{
    font-size: 14px;
}

.nav .proceedToOrder .icon{
    font-size: 25px;
    margin-left: 20px;
}



.cartCountbutton{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
}
.cartCountbuttonBox{
    width: 30px;
    height: 30px;
}
.cartCountbutton:active{
    background: rgb(95, 95, 95);
}
.cartCount{
    width: 100px;
    background-color: rgb(225,225,225);
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    border-radius: 12px;
}
.shippingList{
    margin: 25px auto;
}
.shippingOpt{
    padding: 25px 35px;
}
.shippingRadio{
    margin-right: 20px;

}
.ecoBox{
    border: 1px solid #00917e;
    padding: 7px 0;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
}
.ecoBoxHeading{
    color: #00917e;
    text-transform: uppercase;
    
}
.ecoBoxText{
    font-size: 11px;
    padding: 12px 0;
    text-align: left;
}



.promoCodeBox{
    background-color: #f3f3f3;

}

.priceBox{
    padding: 25px 35px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    justify-content: space-between;
}

.orderTotal{
    border-top: 1px solid grey;
    border-bottom: 2px solid black;
    padding: 25px 35px;
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    justify-content: space-between;
}


.checkoutPage{
    background-color: rgb(201, 201, 201);
    width: 100%;
}


.checkoutPage1{
    justify-content: space-around;
    padding: 35px 10px;


}
.details{

}

.checkout{

}

.empty{
    height: 70vh;
    width: 100%;
    padding: 10vh 0;
    background: #f3f3f3;
}

.empty2{
    background-color: rgb(250, 250, 250);
    height: 40vh;
    margin: auto;
    box-shadow:  0 0 15px grey;
    border-radius: 25px;
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 35px 15px;
}
.empty .empty2 *{
    font-family: 'Montserrat',sans-serif;
}



@media only screen and (min-width:250px) and (max-width:798px){
    .cart{
        padding: 10px;
        width: 95%;
    }
}