*{
    margin: 0px;
    padding: 0px;
}


.kheading{
    font-weight: bold;
    
}
.kheading>a:hover{
  color: #141313;
}
.kh{
  font-size: 15px;
    font-weight: 550;
    text-decoration: none;
}

.kh:hover{
  color: #141313;
}
.kphoto{
    margin: auto;
}
.imgb1{
  position: absolute;
  left: 100px;
  top: 650px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.shopb{
  display: flex;
  margin-left: 120px;
  text-decoration: underline;
}


  .ksl1{
    padding-top: 70px;
    background-color: #fafafa;
  }
  .ksl11{
    padding: 150px 50px 150px 50px;
  }
  .ksl11 a{
    font-weight: bold;
    text-decoration: underline;
  }
  .ksll1{
    padding-top: 100px;
    padding: 50px 50px 50px 50px;
    
  }
  .ksll1>p{
    font-size: 18px;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .ksld{
    background-color: #f4eded;
  }

.kmainP{
    width: 90%;
    display: flex;
    align-items: center;
   
    margin: auto;
    margin-top: 80px;
    justify-content:space-around;
    gap: 20px;
   
}

.kac {
    text-decoration: none;
    color: red;
  }
  
  .kde {
    text-decoration: none;
    color: black;
  }

.kg3img{
   margin: auto;
   padding-top: 100px;
    
}
.klimg{
    padding-top: 100px;
}
.imgb2{

  position: absolute;
  left: 100px;
  bottom: 800px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 30px 0px 0px 0px;
}
.shopb1{
  display: flex;
  margin-left: 120px;
  text-decoration: underline;
}