*{
    margin: 0px;
    padding: 0px;
}


.mheading{
    font-weight: bold;
}
.mh{
    font-weight: 550;
    text-decoration: underline;
}
.mphoto{
    margin: auto;
}
.imgb12{

  position: absolute;
  left: 100px;
  top: 700px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}
.shopb2{
  text-decoration: underline;
  text-align:start ;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mwgrid{
    margin-left: 200px;
}
.mwoffer{
    margin: auto;
}
.mtriImg{
    margin:"auto";
    padding-top: 130px;
    
}
.mthreeimgoffer{
   margin-left: 220px;
   
}
.mthreeimgoffer2{
   margin: auto;
   
}
.mbt{
    background: none;
    text-decoration: underline;
}
.mbt:hover{
    color: rgb(62, 211, 70);
}
.mcbox{

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position:absolute;
    left:575px;
    top: 1000px;
    z-index: 1;
    
    

}

.mf{
    list-style: none;
}
.ml{
    list-style: none;
    text-decoration: underline;
    margin-top: 45px;
}

.mlistitem{
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.mlistitem:hover, h1:hover, a:hover {
    color: rgb(221, 124, 126);
  }

  .sl1{
    padding-top: 70px;
    background-color: #fafafa;
  }
  .msl11{
    padding: 150px 50px 150px 50px;
  }
  .msl11 a{
    font-weight: bold;
    text-decoration: underline;
  }
  .msll1{
    padding-top: 100px;
    padding: 50px 50px 50px 50px;
  }
  .msld{
    background-color: #f4eded;
  }

.mmainP{
    width: 90%;
    display: flex;
    align-items: center;
   
    margin: auto;
    margin-top: 80px;
    justify-content:space-around;
    gap: 20px;
   
}

.mac {
    text-decoration: none;
    color: red;
  }
  
  .mde {
    text-decoration: none;
    color: black;
  }

.mg3img{
   margin: auto;
   padding-top: 100px;
    
}
.mlimg{
    padding-top: 100px;
}
.imgb123{

  position: absolute;
  left: 350px;
  bottom: 1500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}
.shopb22{
  display: flex;
  text-decoration: underline;
  text-align:start ;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgb123f1{

  position: absolute;
  left: 130px;
  bottom: 750px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}
.sk123{
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.shopb22f1{
  display: flex;
  text-decoration: underline;
  text-align:start ;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.imgb123f2{

  position: absolute;
  right: 200px;
  bottom: 750px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  text-align: start;
}
.shopb22f2{
  display: flex;
  text-decoration: underline;
  text-align:start ;
  padding: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
